.card__container {
    height: 350px;
    width: 300px;
    color: black;
    border: 2px solid rgba(255, 153, 0, 0.534);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 153, 0, 0.808);
    font-size: 30px;
    text-align: center;
}

.card__star {
    padding: 10px 0px 0px 0px;
    width: 30px;
}

.card__text {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
