.header {
    height: 150px;
    background-color: $mainColor;
    display: flex;
    align-items: center;
}
.link {
    text-decoration: none;
    border-bottom: none;
}
.header-logo {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-name {
    font-size: 50px;
    color: white;
    font-weight: 600;
    padding: 0px 0px 0px 10px;
}

.header-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App-logo {
    width: 100px;
}

.nav {
    width: 400px;
    display: flex;
    font-size: 30px;
    font-weight: 600;
    justify-content: space-around;
    text-decoration: none;
}

.nav__link {
    color: white;
    &:hover{
        border-bottom: 3px solid rgb(0, 0, 0);
    }
    &:active {
        color: rgb(0, 0, 0);
        border: none;
    }
}