.header {
    height: 100px;
    background-color: rgba(255, 153, 0, 0.808);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    width: 700px;
    display: flex;
    font-size: 25px;
    font-weight: 600;
    justify-content: space-around;
}

.nav__link {
    color: white;
    &:hover{
        border-bottom: 3px solid rgb(0, 0, 0);
    }
    &:active {
        color: rgb(0, 0, 0);
        border: none;
    }
}