.table {
    border: 1px solid rgba(255, 153, 0, 0.808);
    border-radius: 10px;
    td{
        width: 200px;
        text-align: center;
        border-top: 1px solid rgba(255, 153, 0, 0.808);
        border-left: 1px solid rgba(255, 153, 0, 0.808);
        &:first-child{
        width: 50px;
        border-left: none;
        }
        &:last-child {
        width: 250px;
        }
    }
}

.table-title {
    height: 47px;
    border-left: 1px solid rgba(255, 153, 0, 0.808);
    &:first-child{
    border-left: none;
    }
}

.table-row {
height: 47px;
}

.custom-table__action-btn{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(255, 153, 0, 0.808);
    &:hover {
        background-color: rgb(255, 153, 0);
        color: white;
    }
    &:active {
        background-color: rgba(197, 126, 20, 0.781);
    }
}

.btns {
    height: 47px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}